<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Master</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="home-card">

    <h1>🧠 Mind Work</h1>

    <p>
        Challenge yourself with fun general knowledge questions.
    </p>

    <a href="/quiz">
        <button class="start-btn">
            <i class="fa-solid fa-play"></i>
            Start Quiz
        </button>
    </a>

</div>

</body>
</html>